*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Gradle/module build outputs
**/build/
!gradle/wrapper/gradle-wrapper.jar

# JetBrains local workspace/VCS state
.idea/vcs.xml
